<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="/static/style_inicial.css">
</head>
<body>
    <div class="container">
        <!-- img -->
        <div class="image-side">
            <img src="/src/finance.png" alt="Controle de Gastos">
        </div>

        <!-- conteúdo -->
        <div class="content-side">
            <h1>Controle de Gastos</h1>
            <p>Organize seu dinheiro, conquiste seus objetivos.</p>

            <div class="buttons">
                <a href="/templates/cadastro_usuario.html" class="btn btn-primary">Cadastrar-se</a>
                <a href="/templates/login.html" class="btn btn-secondary">Entrar</a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>